---
import Mainlayout from "../layouts/Mainlayout.astro"
import Nav from "../components/Nav.astro"
import Sidebar from "../components/Sidebar.astro"
---

<Mainlayout title="Room Home | Manufactured with the best materials">
	<div class="flex w-[1400px] h-[500px] gap-10 relative">
		<div class="bg-[url('/public/images/desktop-image-hero-3.jpg')] flex-1 w-[1000px] h-[500px] bg-no-repeat">
			<Nav/>
		</div>
		<div>
			<Sidebar/>
		</div>
		
	</div>
</Mainlayout>