---
import Mainlayout from "../layouts/Mainlayout.astro"
import Nav from "../components/Nav.astro"
import Sidebar from "../components/Sidebar.astro"

---

<Mainlayout title="Room Home | Discover innovative ways to decorate">
	<div class="md:flex w-[1400px] md:h-[500px] h-[900px] md:gap-10 gap-5 relative">
		<div class="bg-[url('/public/images/desktop-image-hero-1.jpg')] flex-1 w-[1000px] h-[500px] bg-no-repeat">
			<Nav/>
		</div>
		<div>
			<Sidebar/>
		</div>
		
	</div>
</Mainlayout>


